body {
    background-color: @gray-1;
}

main {
    padding: 0 24px;
}

.ant-layout {
    background-color: @gray-1;
}

.ant-alert {
    background-color: @gray-2;
}

.ant-modal-content {
    background-color: @gray-1;
    border: solid 1px @gray-4;
}

.ant-modal-header {
    background-color: @gray-1;
    border-bottom-color: @gray-4;
}

.ant-modal-title {
    color: @gray-9;
    font-weight: 600;
}

.ant-modal-footer {
    border-top-color: @gray-4;
}

.ant-modal-close {
    color: @gray-7;

    &:hover {
        color: @primary-6;
    }
}

.ant-modal-confirm-body .ant-modal-confirm-title {
    color: @gray-9;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
    color: @gray-9;
}

.ant-tooltip {
    box-shadow: 0px 3px 6px -4px #000000;

    box-shadow: 0px 6px 16px 0px #000000 80%;

    box-shadow: 0px 9px 28px 8px #000000 85%;
}
.ant-tooltip-inner {
    background-color: @gray-5;
}

// .ant-tooltip-arrow {
//     &::after {
//         border-color: @gray-5;
//     }
// }

.ant-tooltip {
    .ant-badge {
        display: none;
    }
}

.ant-input {
    background-color: @gray-1;
    color: @gray-9;
    border-color: @gray-5;

    &::placeholder {
        color: @gray-7;
    }
}

.ant-checkbox-inner {
    border-color: @gray-5;
    background-color: @gray-1;
}

.ant-badge-count {
    font-size: 10px;
    font-weight: 600;
    background: inherit;
    box-shadow: 0 0 0 1px @gray-4;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
}

.ant-dropdown-menu {
    background-color: @gray-1;

    &-item {
        color: @gray-9 !important;

        &:hover {
            background-color: @gray-2;
        }

        &-divider {
            background-color: @gray-4;
        }
    }
}

.ant-input-search {
    &:hover {
        .ant-input {
            border-color: #f27c33;
        }
        .ant-input-search-button {
            border-color: #f27c33;
        }
    }
}

.ant-input-search-button {
    background-color: @gray-1;
    border-color: @gray-5;
}
.ant-input-search-icon {
    color: @gray-9;
}

.ant-btn:not(.ant-btn-primary),
.ant-btn-default,
.ant-btn-dashed {
    background-color: @gray-1;
    border-color: @gray-5;

    &:hover,
    &:focus {
        background-color: @gray-1;
    }
}

.alerts {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.title {
    padding: 16px;
    height: 64px;
    border-bottom: 1px solid @gray-4;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: @gray-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    background-color: @gray-2;
    border: 1px solid @gray-4;
    border-radius: 6px;

    &__title {
        padding: 16px;
        height: 64px;
        border-bottom: 1px solid @gray-4;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 64px);
        color: @gray-7;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        // text-decoration: underline;
        cursor: pointer;
    }
}
